# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside

####
# Xcode build files -
#
# NB: slash on the end, so we only remove the FOLDER, 
# not any files that were badly named "DerivedData"
DerivedData/

*.hmap
*.ipa
*.xcuserstate

#####
# OS X temporary files that should never be committed
#
# c.f. http://www.westwind.com/reference/os-x/invisibles.html
.DS_Store

# c.f. http://www.westwind.com/reference/os-x/invisibles.html
.Trashes


# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
# Pods/
#
# However, we DO submit the "Podfile" file because it has all the relevant info to pull the dependencies

